name: 02-workflow-events.yaml
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '*/2 * * * *'

jobs:
  echo:
   runs-on: ubuntu-latest
   steps:
      - name: Show the trigger
        run: echo "Workflow was triggered by ${{ github.event_name }}"

