name: 08- Using Environments Variables
on:
  #push:
  workflow_dispatch:

env:
  MY_WORKFLOW_VAR: I am a workflow env var
  MY_OVERWRITTEN_VAR: I will be overwritten
  UNDEFINED_VAR_WITH_DEFAULT: ${{vars.UNDEFINED_VAR || 'default value'}}

jobs:
  echo:
    runs-on: ubuntu-latest
    env:
      MY_JOB_VAR: I am a job env var
      MY_OVERWRITTEN_VAR: I will be overwritten
    steps:
      - name: Print variables
        env:
          MY_STEP_VAR: I am a step env var
          MY_STEP_VAR2: I am another step env var
          MY_OVERWRITTEN_VAR: I will be overwritten
        run: |
          echo "Workflow variable: $MY_WORKFLOW_VAR"
          echo "Job variable: $MY_JOB_VAR"
          echo "Step variable: $MY_STEP_VAR"
          echo "Step variable 2: $MY_STEP_VAR2"
          echo "Overwritten variable: $MY_OVERWRITTEN_VAR"
      - name: Overwrite Job Variable
        env:
         MY_OVERWRITTEN_VAR: I have been overwritten at the step level
        run: |
            echo "Step environment variable: $MY_OVERWRITTEN_VAR"
            echo "Another way to access step variable: ${{env.MY_OVERWRITTEN_VAR}}"
          
  echo2:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Print Variables
        run: |
          echo "Repo variable: ${{vars.REPOSITORY_VAR}}"
          echo "Environment: ${{vars.TARGET_VAR}}"

  echo-prod:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Print Prod Variables
        run: |
          echo "Repo variable: ${{vars.REPOSITORY_VAR}}"
          echo "Environment: ${{vars.TARGET_VAR}}"

  echo-undefined:
    runs-on: ubuntu-latest
    steps:
      - name: Print Undefined Variable
        run: |
          echo "Undefined variable: ${{vars.UNDEFINED_VAR_WITH_DEFAULT}}"

